; These are loaded dynamically each time the agent starts. They remain static
; for the lifetime of the agent; although they can be changed while the
; agent is running, they should not be.
;
; Notice that no effort is made to hide the mechanisms used to protect
; communications between the agent and the server on the agent's device
; itself.

[pygin]
; Configuration for Pygin's main program loop and tasking module.

; UUID representing the agent's ID as assigned by the server.
AGENT_ID=00000000-0000-0000-0000-000000000000

; The paths to the public and private keys included with this agent. The server
; should hold the agent's public key and the server's private key.
AGENT_PRIVATE_KEY_PATH=
SERVER_PUBLIC_KEY_PATH=

; The symmetric encryption key as base64. This is converted to a standard AES
; key at runtime.
ENCRYPTION_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=

; The protocols used to receive messages, comma-separated. This determines
; which protocols should be polled to check for new messages. Note that the
; protocols used to send messages is determined at runtime.
INCOMING_PROTOCOLS=dddb_local

; The Redis prefixes for various data manually stored by Pygin tasks.
; TODO: use https://docs.celeryq.dev/en/latest/userguide/extending.html#preload-options
; this allows us to load configuration at runtime. have the tasking module set
; the associated class variable(s) for PyginMessage when it's ready.

; The key used to store the set of all messages already seen, if used.
; This prevents accidentally processing the same message twice when used correctly.
;
; This is only provided for debugging purposes; messages should be deleted from
; the database when read and processed.
REDIS_MESSAGES_SEEN_KEY=_agent_meta-seen-msgs
; The key used to store the set of all completed tasks. If the user elects not
; to delete tasks on retrieval, this prevents accidentally processing the same
; task result twice when used correctly.
; 
; Note that the standard action should be to delete task results. This is only
; provided for debugging purposes.
REDIS_COMPLETED_CMDS_KEY=_agent_meta-completed-cmds
; The prefix used for all PyginMessage objects stored through the Redis database.
REDIS_INTERNAL_MSG_PREFIX=agent-msg-



; Where messages at each stage of the process should be stored. Note that each
; protocol may choose to use these folders differently; they are provided
; solely for debugging and convenience, and may not be used at all.
;
; In practice, a temp folder ought to be used for all of these instead, but
; it's helpful to see what messages looked like after the fact at the expense
; of storage. 
INCOMING_ENCODED_MESSAGE_DIR=./msgs/incoming_raw
INCOMING_DECODED_MESSAGE_DIR=./msgs/incoming_decoded
OUTGOING_DECODED_MESSAGE_DIR=./msgs/outgoing_decoded
OUTGOING_ENCODED_MESSAGE_DIR=./msgs/outgoing_raw

; Where logs should be stored.
LOG_DIR=./logs

