# Download internal libraries.
deaddrop-meta @ git+https://github.com/unr-deaddrop/deaddrop_meta@v0.0.6
dddb @ git+https://github.com/unr-deaddrop/dddb@47bd591

# Empyrean code.
psutil==5.9.8
requests==2.31.0
types-psutil==5.9.5.20240316
types-requests==2.31.0.20240311

# As part of exposed dddb functionality. Not directly used by Pygin itself.
selenium==4.18.1

# Functional
celery[redis]==5.3.6
json5==0.9.14
pycryptodomex==3.20.0 # import as Cryptodome, *not* Crypto
pydantic==2.6.1
python-dotenv==1.0.0
pyyaml==6.0.1
pottery==3.0.0
redis==4.6.0
supervisor==4.2.5

# Windows only. Recent versions of Celery are not directly supported on Windows.
# https://stackoverflow.com/questions/45744992/celery-raises-valueerror-not-enough-values-to-unpack
eventlet==0.35.2; sys_platform == 'win32'
wmi==1.5.1; sys_platform == 'win32'
pywin32==306; sys_platform == 'win32'

# Linting
black==24.1.1
mypy==1.8.0
flake8==7.0.0
flake8-bugbear==24.2.6
tox==4.12.1
pytest==7.4.0

types-redis==4.6.0.20240106
celery-types==0.22.0
types-click==7.1.8
types-PyYAML==6.0.12.20240311
types-pywin32==306.0.0.20240319