# Always use the latest commited version of the DeadDrop metaclasses.
deaddrop-meta @ git+https://github.com/unr-deaddrop/deaddrop_meta@main

# Functional
celery[redis]==5.3.6
pycryptodome==3.20.0
pydantic==2.6.1
python-dotenv==1.0.0
redis==5.0.1
supervisor==4.2.5

# Linting
black==24.1.1
mypy==1.8.0
flake8==7.0.0
flake8-bugbear==24.2.6
tox==4.12.1
pytest==7.4.0

types-redis==4.6.0.20240106
celery-types==0.22.0
types-click==7.1.8