# Always use the latest commited version of the DeadDrop metaclasses.
deaddrop-meta @ git+https://github.com/unr-deaddrop/deaddrop_meta@v0.0.5

# Functional (note that these may be pegged, since they're not linked to
# the server at all)
json5==0.9.14
pycryptodomex==3.20.0 # import as Cryptodome, *not* Crypto
pydantic==2.6.1
pyyaml==6.0.1
redis==5.0.1