# Metalibs
deaddrop-meta @ git+https://github.com/unr-deaddrop/deaddrop_meta@v0.3.1
dddb @ git+https://github.com/unr-deaddrop/dddb@v0.0.2

# Anything vaguely related to typing
mypy==1.8.0
types-redis==4.6.0.20240106
celery-types==0.22.0
types-click==7.1.8
pydantic==2.6.1
json5==0.9.14
pyyaml==6.0.1
pycryptodomex==3.20.0
types-PyYAML==6.0.12.20240311
types-requests==2.31.0.20240311
types-psutil==5.9.5.20240316
types-pywin32==306.0.0.20240319

pottery==3.0.0